/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.fleet
/.vscode
*.cache
images/
public/images
public/frontend/
public/frontend/deals/
public/frontend/image/
public/frontend/images/
public/frontend/posts/
public/frontend/sliders/
public/frontend/testimonial/
public/media/
public/build/
public/.htaccess
public/backend/images/
public/error_log
public_new/
public_old/
beta.friendscarrental.com/
public/img/
backup.zip
storage/logs/
public/beta.friendscarrental.com/
*.zip

# Ignore specific files and directories within Laravel storage
/storage/app/*.key
/storage/app/*.log
/storage/app/*.sql
/storage/app/public

# Ignore all contents within Laravel storage/framework
/storage/framework/*
!/storage/framework/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Ignore specific files within Laravel bootstrap/cache
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
.error_log
